@use "../base";
@use "../colors";
@use "../functions" as *;

$color-default: adjust-lightness(var(--color-label), 5) !default;

.BlockQuote {
  color: $color-default;
  border-left: base.em(2px) solid $color-default;
  padding-left: 0.5em;
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 0;
  }
}
