$color-default: hsl(
  from var(--color-label) h s calc(l + var(--adjust-fg))
) !default;

.BlockQuote {
  color: hsl(from var(--color-label) h s calc(l + var(--adjust-fg)));
  border-left: var(--border-thickness-medium) solid
    hsl(from var(--color-label) h s calc(l + var(--adjust-fg)));
  padding-left: var(--space-m);
  margin-bottom: var(--space-m);

  &:last-child {
    margin-bottom: 0;
  }
}
