@use "../base";
@use "../functions" as *;

.Dialog {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(from var(--color-section) h s l / 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dialog__content {
  background-color: var(--color-base);
  font-family: Consolas, monospace;
  font-size: base.em(14px);
  display: flex;
  flex-direction: column;
}

.Dialog__header {
  display: flex;
  height: 2em;
  line-height: 1.928em;
  background-color: hsl(from var(--color-section) h s l / 0.5);
  user-select: none;
  -ms-user-select: none;
}

.Dialog__title {
  flex-grow: 1;
  display: inline;
  font-style: italic;
  margin-left: var(--space-xl);
  margin-right: var(--space-xxl);
  opacity: 0.33;
}

.Dialog__body {
  margin: var(--space-xxl) var(--space-xl);
  flex-grow: 1;
}

.Dialog__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--space-xl);
  background-color: hsl(from var(--color-section) h s l / 0.25);
}

.Dialog__button {
  margin: 0 var(--space-xl);
  height: 2rem;
  min-width: 6rem;
  text-align: center;
}

.SaveAsDialog__inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: var(--space-xxl);
  margin-right: var(--space-xl);
}

.SaveAsDialog__input {
  margin-left: var(--space-xl);
  width: 80%;
}

.SaveAsDialog__label {
  vertical-align: center;
}

.Dialog__FileList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: flex-start;
  max-height: 20rem;
  overflow: auto;
  overflow-y: scroll;
}

.Dialog__FileEntry {
  text-align: center;
  margin: var(--space-xl);
}

.Dialog__FileIcon {
  display: inline-block;
  margin: 0 0 var(--space-xl) 0;
  position: relative;
  width: 6vh;
  height: auto;
  text-align: center;
  cursor: default;
}
