$background-dimness: 0.75 !default;

.Dimmer {
  display: flex;
  justify-content: center;
  align-items: center;
  // Fill positioned parent
  position: absolute;
  inset: 0;
  // Dim everything around it
  background-color: rgba(0, 0, 0, $background-dimness);
  // Should be enough to cover everything except tooltips
  z-index: 100;
}
