@use "../base";

$thickness: var(--border-thickness-medium) !default;
$spacing: 0.5em;

.Divider--horizontal {
  margin: $spacing 0;

  &:not(.Divider--hidden) {
    border-top: var(--border-thickness-medium) solid var(--color-border);
  }
}

.Divider--vertical {
  height: 100%;
  margin: 0 $spacing;

  &:not(.Divider--hidden) {
    border-left: var(--border-thickness-medium) solid var(--color-border);
  }
}
