@use "../base";
@use "../functions" as *;

.Dropdown {
  display: flex;
  align-items: stretch;
  gap: var(--space-s);
  margin-right: var(--space-xs);
  margin-bottom: var(--space-xs);

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  // Override Button styles
  .Button {
    margin: 0;
    align-content: center;
  }

  &__control {
    display: flex;
    overflow: hidden;
    flex: 1;
    font-family: Verdana, sans-serif;
    font-size: base.em(12px);
    line-height: base.em(16px);
    height: base.em(22px);
  }

  &__selected-text {
    flex: 1;
    display: inline-block;
    align-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    padding: var(--space-s) var(--space-m);
    border-right: var(--border-thickness-tiny) solid var(--color-border-dark);
  }

  &__icon {
    display: inline-block;
    align-content: center;
    text-align: center;
    height: 100%;
    width: base.em(22px);
    transition: transform 0.2s;

    &--arrow {
      &.open:not(.over),
      &.over:not(.open) {
        transform: rotate(180deg);
      }
    }

    // Move text closer to icon
    ~ .Dropdown__selected-text {
      padding-left: 0;
    }
  }

  &__menu {
    overflow-y: auto;
    scrollbar-width: thin;
    max-height: base.em(200px);
    padding: var(--space-sm);

    &--wrapper {
      overflow: hidden;
      background-color: adjust-lightness(
        adjust-lightness(var(--color-base), -5.5),
        0.5
      );
      color: var(--color-text);
      border: var(--border-thickness-tiny) solid var(--color-border);
      border-radius: var(--border-radius-large);
      backdrop-filter: blur(12px);
    }

    &--entry {
      user-select: none;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: Verdana, sans-serif;
      font-size: base.em(12px);
      line-height: base.em(16px);
      padding: var(--space-xs) var(--space-m);
      border-radius: var(--border-radius-small);
      transition: background-color 0.1s;

      &.selected {
        background-color: var(--color-selected) !important;
        transition-duration: 0s;
      }

      &:not(.selected) {
        cursor: pointer;

        &:hover {
          background-color: var(--color-hover);
          transition-duration: 0s;
        }

        &:active {
          background-color: var(--color-active);
          transition-duration: 0s;
        }
      }
    }
  }
}
