@use "../base";

.Dropdown {
  display: flex;
  align-items: stretch;
  gap: var(--space-s);
  margin-right: var(--space-xs);
  margin-bottom: var(--space-xs);

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  // Override Button styles
  .Button {
    margin: 0;
    align-content: center;
  }

  &__control {
    display: flex;
    overflow: hidden;
    flex: 1;
    font-family: var(--font-family);
    font-size: base.em(12px);
    line-height: base.em(16px);
    height: base.em(22px);
    border-radius: var(--button-border-radius);
  }

  &__selected-text {
    flex: 1;
    display: inline-block;
    align-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    padding: var(--space-s) var(--space-m);
    border-right: var(--border-thickness-tiny) solid var(--color-border-dark);
  }

  &__icon {
    display: inline-block;
    align-content: center;
    text-align: center;
    height: 100%;
    width: base.em(22px);
    transition: transform var(--dropdown-transition);

    &--arrow {
      &.open:not(.over),
      &.over:not(.open) {
        transform: rotate(180deg);
      }
    }

    // Move text closer to icon
    ~ .Dropdown__selected-text {
      padding-left: 0;
    }
  }

  &__menu {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-thumb) transparent;
    max-height: base.em(200px);
    padding: var(--space-sm);

    &--wrapper {
      overflow: hidden;
      background-color: var(--dropdown-menu-background);
      color: var(--dropdown-menu-color);
      border: var(--dropdown-menu-border);
      border-radius: var(--dropdown-menu-border-radius);
      backdrop-filter: var(--dropdown-menu-blur);
    }

    &--entry {
      user-select: none;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: var(--font-family);
      font-size: base.em(12px);
      line-height: base.em(16px);
      padding: var(--space-xs) var(--space-m);
      border-radius: var(--dropdown-entry-border-radius);
      transition: background-color var(--dropdown-entry-transition);

      &.selected {
        background-color: var(--dropdown-entry-background-selected) !important;
        transition-duration: 0s;
      }

      &:not(.selected) {
        cursor: var(--cursor-pointer);

        &:hover {
          background-color: var(--dropdown-entry-background-hover);
          transition-duration: 0s;
        }

        &:active {
          background-color: var(--dropdown-entry-background-active);
          transition-duration: 0s;
        }
      }
    }
  }
}
