@use "../base";
@use "../colors";

.Dropdown {
  display: flex;
  align-items: stretch;
  gap: 0.25rem;
  margin-right: base.em(2px);
  margin-bottom: base.em(2px);

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  // Override Button styles
  .Button {
    margin: 0 !important;
    align-content: center !important;
  }

  &__control {
    font-family: Verdana, sans-serif;
    font-size: base.em(12px);
    display: flex !important;
    overflow: hidden;
    flex: 1;

    // Override Button styles
    &.Button {
      padding: 0 !important;
    }
  }

  &__selected-text {
    flex: 1;
    display: inline-block;
    align-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    padding: 0.25em 0.5em;
    border-right: base.em(1px) solid hsla(0, 0%, 0%, 0.33);
  }

  &__icon {
    display: inline-block;
    align-content: center;
    height: 100%;
    width: base.em(22px);
    transition: transform 0.2s;
    // Override Button styles
    margin: 0 !important;

    &--arrow {
      &.open:not(.over),
      &.over:not(.open) {
        transform: rotate(180deg);
      }
    }

    // Move text closer to icon
    ~ .Dropdown__selected-text {
      padding-left: 0;
    }
  }

  &__menu {
    overflow-y: auto;
    scrollbar-width: thin;
    max-height: base.em(200px);
    padding: 0.33em;

    &--wrapper {
      overflow: hidden;
      background-color: rgba(darken(base.$color-bg, 5%), 0.85);
      color: hsl(0, 0%, 100%);
      border: base.em(1px) solid var(--border-color);
      border-radius: base.em(6px);
      backdrop-filter: blur(12px);
    }

    &--entry {
      user-select: none;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: Verdana, sans-serif;
      font-size: base.em(12px);
      line-height: base.em(16px);
      padding: base.em(2px) base.em(6px);
      border-radius: base.em(3px);
      transition: background-color 0.1s;

      &.selected {
        background-color: hsla(0, 0%, 66%, 0.2) !important;
        transition-duration: 0s;
      }

      &:not(.selected) {
        cursor: pointer;

        &:hover {
          background-color: hsla(0, 0%, 33%, 0.2);
          transition-duration: 0s;
        }

        &:active {
          background-color: hsla(0, 0%, 50%, 0.2);
          transition-duration: 0s;
        }
      }
    }
  }
}
