@use "../base";

$text-color: 0 !default;
$background-color: 0 !default;
$border-color: 0 !default;
$border-radius: 0 !default;
$font-family: 0 !default;
$mono-font-family: 0 !default;

.Input {
  overflow: visible;
  position: relative;
  display: inline-block;
  width: base.em(120px);
  line-height: base.em(17px);
  padding: 0 var(--space-sm);
  margin-right: var(--space-xs);
  background-color: var(--input-background);
  color: var(--input-color);
  border: var(--border-thickness-tiny) solid var(--input-border-color);
  border-radius: var(--input-border-radius);

  &:focus-within {
    border-color: var(--input-border-color-focus);
  }
}

.Input--fluid {
  display: block;
  width: auto;
}

.Input__baseline {
  display: inline-block;
  color: transparent;
}

.Input__input {
  display: block;
  position: absolute;
  inset: 0;
  border: 0;
  outline: 0;
  width: 100%;
  font-size: base.em(12px);
  line-height: base.em(17px);
  height: base.em(17px);
  margin: 0;
  padding: 0 var(--space-m);
  font-family: var(--input-font-family);
  background-color: transparent;
  color: var(--input-color);
  color: inherit;

  &::placeholder {
    font-style: italic;
    color: var(--input-color-placeholder);
  }
}

.Input--monospace .Input__input {
  font-family: var(--input-font-family-mono);
}
