@use "../base";
@use "../functions" as *;

$text-color: var(--color-text) !default;
$background-color: hsl(0, 0%, 3.9%) !default;
$border-color: var(--color-border-input) !default;
$border-radius: var(--border-radius-tiny) !default;
$font-family: Verdana, sans-serif !default;
$mono-font-family: "Consolas", monospace !default;

.Input {
  position: relative;
  display: inline-block;
  width: base.em(120px);
  border: var(--border-thickness-tiny) solid var(--color-border-input);
  border-radius: var(--border-radius-tiny);
  color: var(--color-text);
  background-color: $background-color;
  padding: 0 var(--space-sm);
  margin-right: var(--space-xs);
  line-height: base.em(17px);
  overflow: visible;

  &:focus-within {
    border-color: var(--color-border-input-focus);
  }
}

.Input--fluid {
  display: block;
  width: auto;
}

.Input__baseline {
  display: inline-block;
  color: transparent;
}

.Input__input {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  outline: 0;
  width: 100%;
  font-size: base.em(12px);
  line-height: base.em(17px);
  height: base.em(17px);
  margin: 0;
  padding: 0 var(--space-m);
  font-family: $font-family;
  background-color: transparent;
  color: var(--color-text);
  color: inherit;

  &::placeholder {
    font-style: italic;
    color: var(--color-text-translucent);
  }
}

.Input--monospace .Input__input {
  font-family: $mono-font-family;
}
