@use "../base";
@use "../functions" as *;

.MenuBar {
  display: flex;
}

.MenuBar__font {
  font-family: Verdana, sans-serif;
  font-size: base.em(12px);
  line-height: base.em(17px);
}

.MenuBar__hover {
  &:hover {
    background-color: hsl(from var(--color-base) h s calc(l + 20));
    transition: background-color 0ms;
  }
}

.MenuBar__MenuBarButton {
  padding: var(--space-s) var(--space-m);
}

.MenuBar__menu {
  position: absolute;
  background-color: var(--color-base);
  padding: var(--space-sm);
  box-shadow: 4px 6px 5px -2px hsla(0, 0%, 0%, 0.55);
  z-index: 5;
}

.MenuBar__MenuItem {
  transition: background-color 100ms ease-out;
  background-color: var(--color-base);
  white-space: nowrap;
  padding: var(--space-sm) var(--space-xl) var(--space-sm)
    calc(var(--space-xxl) + 1rem);
}

.MenuBar__MenuItemToggle {
  padding: var(--space-sm) var(--space-xl) var(--space-sm) 0;
}

.MenuBar__MenuItemToggle__check {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-width: 2.5rem;
  padding-left: 0.3rem;
}

.MenuBar__over {
  top: auto;
  bottom: 100%;
}

.MenuBar__MenuBarButton-text {
  text-overflow: clip;
  white-space: nowrap;
  height: base.em(17px);
}

.MenuBar__Separator {
  display: block;
  margin: var(--space-sm);
  border-top: var(--border-thickness-tiny) solid var(--color-border);
}
