.Modal {
  background-color: var(--modal-background);
  padding: var(--modal-padding);

  &__dimmer .Dimmer__inner {
    // 1rem for window padding, 1rem like modal margin
    max-width: calc(100vw - var(--space-xxl));
    max-height: calc(100vh - var(--space-xxl));
  }
}
