@use "../base";
@use "../colors";

$bg-map: colors.$color-map !default;
$fg-map: colors.$color-map !default;
$background-color: 0 !default;
$color-stripes: 0 !default;

.NoticeBox {
  font-weight: bold;
  font-style: italic;
  padding: var(--space-sm) var(--space-m);
  margin-bottom: var(--space-m);
  color: var(--color-text-fixed-black);
  background-color: var(--notice-box-background);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent base.em(10px),
    var(--notice-box-stripes) base.em(10px),
    var(--notice-box-stripes) base.em(20px)
  );
}

@mixin box-color($color) {
  background-color: hsl(from $color h calc(s - 15) calc(l - 15));
  color: var(--color-text-fixed-white);
}

@each $color-name, $color-value in $bg-map {
  .NoticeBox--color--#{$color-name} {
    @each $color in colors.$low-contrast-color-map {
      @if $color-name == $color {
        --color-text-fixed-white: var(--color-black);
      }
    }

    @include box-color($color-value);
  }
}

.NoticeBox--type--info {
  @include box-color(var(--color-blue));
}

.NoticeBox--type--success {
  @include box-color(var(--color-green));
}

.NoticeBox--type--warning {
  @include box-color(var(--color-orange));
}

.NoticeBox--type--danger {
  @include box-color(var(--color-red));
}
