@use "sass:color";
@use "../base";
@use "../functions" as *;
@use "./Input";

$text-color: var(--color-text) !default;
$background-color: Input.$background-color !default;
$border-color: var(--color-border-input) !default;
$border-radius: var(--border-radius-tiny) !default;

.NumberInput {
  position: relative;
  display: inline-block;
  border: var(--border-radius-tiny) solid var(--color-border-input);
  border-radius: var(--border-radius-tiny);
  color: var(--color-border-input);
  background-color: $background-color;
  padding: 0 var(--space-sm);
  margin-right: var(--space-xs);
  line-height: base.em(17px);
  text-align: right;
  overflow: visible;
  cursor: n-resize;
}

.NumberInput--fluid {
  display: block;
}

.NumberInput__content {
  margin-left: var(--space-m);
}

.NumberInput__barContainer {
  position: absolute;
  top: var(--space-xs);
  bottom: var(--space-xs);
  left: var(--space-xs);
}

.NumberInput__bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: base.em(3px);
  box-sizing: border-box;
  border-bottom: var(--border-thickness-tiny) solid var(--color-border-input);
  background-color: var(--color-border-input);
}

.NumberInput__input {
  display: block;
  position: absolute;
  inset: 0;
  border: 0;
  outline: 0;
  width: 100%;
  font-size: base.em(12px);
  line-height: base.em(17px);
  height: base.em(17px);
  margin: 0;
  padding: 0 var(--space-m);
  font-family: Verdana, sans-serif;
  background-color: $background-color;
  color: var(--color-text);
  text-align: right;
}
