@use "../base";
@use "../colors";
@use "../functions" as *;

$color-default-fill: var(--color-primary) !default;
$background-color: hsla(0, 0%, 0%, 0) !default;
$border-radius: var(--border-radius-tiny) !default;
$bg-map: colors.$color-map !default;

.ProgressBar {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0 var(--space-m);
  border-width: var(--border-thickness-tiny) !important;
  border-style: solid !important;
  border-radius: var(--border-radius-tiny);
  background-color: $background-color;
  transition: border-color 900ms ease-out;
}

.ProgressBar__fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.ProgressBar__fill--animated {
  transition:
    background-color 900ms ease-out,
    width 900ms ease-out;
}

.ProgressBar__content {
  position: relative;
  line-height: base.em(17px);
  width: 100%;
  text-align: right;
}

.ProgressBar--color--default {
  border: var(--border-thickness-tiny) solid
    hsl(from var(--color-primary) h s calc(l - var(--adjust-color)));

  .ProgressBar__fill {
    background-color: hsl(
      from var(--color-primary) h s calc(l - var(--adjust-color))
    );
  }
}

@each $color-name, $color-value in $bg-map {
  .ProgressBar--color--#{$color-name} {
    border-color: hsl(
      from $color-value h s calc(l - var(--adjust-color))
    ) !important;

    .ProgressBar__fill {
      background-color: hsl(
        from $color-value h s calc(l - var(--adjust-color))
      );
    }
  }
}
