@use "../colors";

$pi: 3.1416;

@keyframes RoundGauge__alertAnim {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

@keyframes RoundGauge__needleAlertAnim {
  0% {
    transform: rotate(var(--round-gauge-needle-alert-rotation));
  }
  50% {
    transform: rotate(calc(-1 * var(--round-gauge-needle-alert-rotation)));
  }
}

.RoundGauge {
  font-size: 1rem;
  width: 2.6em;
  height: 1.3em;
  margin: 0 auto;
  margin-bottom: 0.2em;

  &__wrapper {
    display: inline-block;
    text-align: center;
  }
}

.RoundGauge__ringTrack {
  fill: transparent;
  stroke: hsla(0, 0%, 100%, 0.1);
  stroke-width: 10;
  stroke-dasharray: 50 * $pi;
  stroke-dashoffset: 50 * $pi;
}

.RoundGauge__ringFill {
  fill: transparent;
  stroke: var(--round-gauge-ring-color);
  stroke-width: 10;
  stroke-dasharray: 100 * $pi;
  transition: stroke var(--round-gauge-transition) ease-out;
}

.RoundGauge__needle,
.RoundGauge__ringFill {
  transition: transform var(--round-gauge-transition) ease-in-out;
}

.RoundGauge__needleLine,
.RoundGauge__needleMiddle {
  fill: var(--color-red);
}

.RoundGauge__alert {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  fill: hsla(0, 0%, 100%, 0.1);
  transform: scale(0.9);
  transform-origin: top;

  &.active {
    animation: RoundGauge__alertAnim var(--round-gauge-alert-animation)
      cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
  }
}

.RoundGauge__needle.active .RoundGauge__needleLine {
  transform-origin: bottom;
  animation: RoundGauge__needleAlertAnim
    var(--round-gauge-needle-alert-animation) infinite;
}

.RoundGauge__alert.max {
  fill: var(--color-bad);
}

@each $color-name, $color-value in colors.$color-map {
  .RoundGauge--color--#{$color-name}.RoundGauge__ringFill {
    stroke: $color-value;
  }
}

@each $color-name, $color-value in colors.$color-map {
  .RoundGauge__alert--#{$color-name} {
    fill: $color-value;
  }
}
