@use "sass:color";
@use "../base";
@use "../colors";
@use "../functions";

$title-text-color: base.$color-fg !default;
$background-color: base.$color-bg-section !default;
$separator-color: colors.$primary !default;

.Section {
  position: relative;
  margin-bottom: var(--space-m);
  background-color: $background-color;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.Section__title {
  position: relative;
  padding: var(--space-m);
  border-bottom: var(--border-thickness-small) solid $separator-color;
}

.Section__titleText {
  font-size: base.em(14px);
  font-weight: bold;
  color: $title-text-color;
}

.Section__buttons {
  position: absolute;
  display: inline-block;
  right: var(--space-m);
  margin-top: calc(-1 * var(--space-xxs));
}

.Section__rest {
  position: relative;
}

.Section__content {
  padding: var(--space-ml) var(--space-m);
}

.Section--fitted > .Section__rest > .Section__content {
  padding: 0;
}

.Section--fill {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Section--fill > .Section__rest {
  flex-grow: 1;
}

.Section--fill > .Section__rest > .Section__content {
  height: 100%;
}

.Section--fill.Section--scrollable > .Section__rest > .Section__content {
  position: absolute;
  inset: 0;
}

.Section--scrollable {
  overflow-x: hidden;
  overflow-y: hidden;

  & > .Section__rest > .Section__content {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.Section--scrollableHorizontal {
  overflow-x: hidden;
  overflow-y: hidden;

  & > .Section__rest > .Section__content {
    overflow-y: hidden;
    overflow-x: scroll;
  }
}

.Section--scrollable.Section--scrollableHorizontal {
  overflow-x: hidden;
  overflow-y: hidden;

  & > .Section__rest > .Section__content {
    overflow-y: scroll;
    overflow-x: scroll;
  }
}

// Nested sections
.Section .Section {
  background-color: transparent;
  margin: 0 calc(-1 * var(--space-m)); // Compensate for padding: 0.5em;

  // Remove extra space above the first nested section
  &:first-child {
    margin-top: calc(-1 * var(--space-m));
  }
}

// Level 2 section title
.Section .Section .Section__titleText {
  font-size: base.em(13px);
}

// Level 3 section title
.Section .Section .Section .Section__titleText {
  font-size: base.em(12px);
}

.Section--flex {
  display: flex;
  flex-flow: column;
}

.Section--flex .Section__content {
  overflow: auto;
  flex-grow: 1;
}

.Section__content--noTopPadding {
  padding-top: 0;
}

.Section__content--stretchContents {
  height: calc(100% - 3rem);
}
