@use "../base";

$cursor-color: 0 !default;
$popup-background-color: 0 !default;
$popup-text-color: 0 !default;

.Slider {
  cursor: e-resize;
  user-select: none;
}

.Slider__cursorOffset {
  position: absolute;
  inset: 0;
  transition: none !important;
}

.Slider__cursor {
  position: absolute;
  top: 0;
  right: calc(-1 * var(--space-xxs));
  bottom: 0;
  width: 0;
  border-left: var(--border-thickness-small) solid var(--slider-cursor-color);
}

.Slider__pointer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: base.em(5px) solid transparent;
  border-right: base.em(5px) solid transparent;
  border-bottom: base.em(5px) solid var(--slider-cursor-color);
  transform: translate(50%, calc(100% - var(--border-thickness-tiny)));
}

.Slider__popupValue {
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: -2rem;
  font-size: 1rem;
  padding: var(--space-s) var(--space-m);
  background-color: var(--slider-popup-background);
  color: var(--slider-popup-color);
  border-radius: var(--slider-popup-border-radius);
  transform: translateX(50%);
  backdrop-filter: var(--slider-popup-blur);
}
