@use "../base";

.Slider {
  cursor: e-resize;
  user-select: none;

  &--editing {
    .Slider__cursor:before {
      display: none;
    }
  }

  &__cursor {
    position: absolute;
    inset: 0 calc(-1 * var(--space-xxs));
    left: unset;
    border-left: var(--border-thickness-small) solid var(--slider-cursor-color);
    border-radius: var(--border-radius-circular);

    &Offset {
      position: absolute;
      inset: 0;
      transition: none !important;
    }

    &:before {
      content: "";
      aspect-ratio: 1 / 1;
      position: absolute;
      right: 0;
      bottom: 0;
      border-left: inherit;
      transform: scale(4) translateY(50%) rotate(45deg);
      transform-origin: center;
      mask-image: linear-gradient(135deg, black 50%, transparent 50%);
    }
  }

  &__popupValue {
    user-select: none;
    white-space: nowrap;
    position: absolute;
    top: -2em;
    right: 0;
    font-size: 1em;
    padding: var(--space-s) var(--space-m);
    background-color: var(--slider-popup-background);
    color: var(--slider-popup-color);
    border-radius: var(--slider-popup-border-radius);
    transform: translateX(50%);
    backdrop-filter: var(--slider-popup-blur);
  }

  .NumberInput__input {
    inset: 2px;
    width: auto;
    height: auto;
  }
}
