@use "../base";
@use "./Input";

$text-color: 0 !default;
$background-color: 0 !default;
$border-color: 0 !default;
$border-radius: 0 !default;

.TextArea {
  background-color: var(--input-background);
  border-radius: var(--input-border-radius);
  border: var(--border-thickness-tiny) solid var(--input-border-color);
  box-sizing: border-box;
  display: inline-block;
  line-height: base.em(17px);
  margin-right: base.em(2px);
  position: relative;
  width: 100%;
  &:focus-within {
    border-color: var(--input-border-color-focus);
  }
}

.TextArea--fluid {
  display: block;
  height: auto;
  width: auto;
}

.TextArea--noborder {
  border: 0px;
}

.TextArea__textarea.TextArea__textarea--scrollable {
  overflow: hidden auto;
}

.TextArea__textarea {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: var(--input-color);
  display: block;
  font-family: inherit;
  font-size: 1em;
  height: 100%;
  inset: 0;
  line-height: base.em(17px);
  margin: 0;
  min-height: base.em(17px);
  outline: 0;
  overflow: hidden;
  padding: 0 var(--space-m);
  position: absolute;
  resize: none;
  width: 100%;
  // Make sure the div and the textarea wrap words in the same way
  word-wrap: break-word;

  &::placeholder {
    font-style: italic;
    color: var(--input-color-placeholder);
  }
}

.TextArea__textarea_custom {
  overflow: visible;
  white-space: pre-wrap;
}

.TextArea__nowrap {
  overflow-wrap: normal;
  overflow-x: scroll;
  white-space: nowrap;
}
