/**
 * @deprecated Use css-variables
 */

@use "sass:color";
@use "sass:math";

$color-fg: hsl(0, 0%, 100%) !default;
$color-bg: var(--color-base) !default;
$color-bg-section: var(--color-section) !default;
$color-bg-grad-spread: var(--base-gradient-spread) !default;
$color-bg-start: var(--color-base-start) !default;
$color-bg-end: var(--color-base-end) !default;

$cursor-default: var(--cursor-default) !default;
$cursor-hover: var(--cursor-pointer) !default;
$cursor-disabled: var(--cursor-default) !default;

$unit: 12px;
$font-size: 1 * $unit !default;
$border-radius: 0.16em !default;

@function em($px) {
  @return 1em * math.div($px, $unit);
}

@function rem($px) {
  @return 1rem * math.div($px, $unit);
}
