/**
 * TGUI
 * Values Variables
 *
 * This file contains all values, like spacings, sizes, etc.
 * You won't find any colors here, just numbers and letters.
 *
 * Made with love by Aylong (https://github.com/AyIong)
 */
:root {
  /* Font */
  --font-family: Verdana, Geneva, sans-serif;
  --font-family-mono: Consolas, monospace;

  /* Border thickness */
  --border-thickness-unit: 0.5em;
  /* 1px | 0.085em */
  --border-thickness-tiny: calc(var(--border-thickness-unit) * 0.5 * 0.34);
  /* 2px | 0.17em */
  --border-thickness-small: calc(var(--border-thickness-unit) * 0.34);
  /* 3px | 0.25em */
  --border-thickness-medium: calc(var(--border-thickness-unit) * 0.5);
  /* 4px | 0.33em */
  --border-thickness-large: calc(var(--border-thickness-unit) * 0.66);
  /* 6px | 0.5em */
  --border-thickness-larger: var(--border-thickness-unit);

  /* Border radius */
  --border-radius-unit: 1rem;
  /* 2px | 0.17rem */
  --border-radius-tiny: calc(var(--border-radius-unit) * 0.25 * 0.68);
  /* 3px | 0.25rem */
  --border-radius-small: calc(var(--border-radius-unit) * 0.25);
  /* 4px | 0.33rem */
  --border-radius-medium: calc(var(--border-radius-unit) * 0.33);
  /* 6px | 0.5rem */
  --border-radius-large: calc(var(--border-radius-unit) * 0.5);
  /* 10px | 0.75rem */
  --border-radius-larger: calc(var(--border-radius-unit) * 0.75);
  /* 12px | 1rem*/
  --border-radius-huge: var(--border-radius-unit);
  /* 24px | 2rem*/
  --border-radius-giant: calc(var(--border-radius-unit) * 2);
  /* Maximum border radius. Makes perfect circles */
  --border-radius-circular: 99999px;

  /* Spacing */
  --space-unit: 1em;
  /* 1px | 0.085em */
  --space-xxs: calc(var(--space-unit) * 0.25 * 0.34);
  /* 2px | 0.17em */
  --space-xs: calc(var(--space-unit) * 0.25 * 0.68);
  /* 3px | 0.25em */
  --space-s: calc(var(--space-unit) * 0.25);
  /* 4px | 0.33em */
  --space-sm: calc(var(--space-unit) * 0.33);
  /* 6px | 0.5em */
  --space-m: calc(var(--space-unit) * 0.5);
  /* 8px | 0.66em */
  --space-ml: calc(var(--space-unit) * 0.66);
  /* 10px | 0.75em */
  --space-l: calc(var(--space-unit) * 0.75);
  /* 12px | 1em*/
  --space-xl: var(--space-unit);
  /* 24px | 2em*/
  --space-xxl: calc(var(--space-unit) * 2);

  /* Transition */
  --transition-time-unit: 1s;
  /* 0.1s | 100ms */
  --transition-time-fast: calc(var(--transition-time-unit) * 0.1);
  /* 0.2s | 200ms */
  --transition-time-medium: calc(var(--transition-time-unit) * 0.2);
  /* 0.5s | 500ms */
  --transition-time-slow: calc(var(--transition-time-unit) * 0.5);
  /* 1s | 1000ms */
  --transition-time-slowest: var(--transition-time-unit);

  /* Shadows */
  --shadow-unit: 1rem;
  /* 0 0 0.5rem */
  --shadow-glow-small: 0 0 calc(var(--shadow-unit) * 0.5);
  /* 0 0 1rem */
  --shadow-glow-medium: 0 0 var(--shadow-unit);
  /* 0 0 2rem */
  --shadow-glow-large: 0 0 calc(var(--shadow-unit) * 2);

  /* Blur */
  --blur-small: blur(6px);
  --blur-medium: blur(12px);
  --blur-large: blur(24px);

  /* Adjustments */
  /* Color lightness multiplier. + for FG - for BG */
  --adjust-color: 5;
  /* Color lightness multiplier wneh hovered */
  --adjust-hover: 10;
  /* Color lightness multiplier when active (clicked) */
  --adjust-active: 7.5;

  /* Cursors */
  --cursor-default: default;
  --cursor-pointer: pointer;
  --cursor-disabled: var(--cursor-default);
  --cursor-n-resize: n-resize;
  --cursor-s-resize: s-resize;
  --cursor-se-resize: se-resize;
  --cursor-e-resize: e-resize;
}
